html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  html body { 

    cursor: pointer;
    line-height: 1.2;
    font-size: 25px;
    text-align: center;
    background-color: aquamarine;
   
  }

#center {
  display: inline-block;
}

div.divBox {
  background-color: rgb(237, 118, 248);
  margin-left:15%;
  margin-right: 15%;
  margin-top:5%;
 
  border-radius: 10px;
  border: solid 7px rgb(235, 255, 120);
  padding: 40px;
  text-align: center;
}
  #finder {
font-size:130px;
font-weight: 800;
color: black;
  }

  #hello {
font-size:40px;
border: solid  rgb(235, 255, 120) 4px;
width:300px;
border-radius: 30px;
text-decoration: none;

  }

  #link{
    text-decoration: none;
    color:black;
    }